.best-product {
  width: 100%;
}
.best-product__container {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 30px 35px 30px;
  p {
    .OpenSans;
    font-size: 15px;
    line-height: 24px;
    color: @graphite;
    max-width: 255px;
    margin: 24px 0 18px 0;
  }
  img {}
}
.best-product__header {
  display: flex;
  flex-direction: column;
}
.best-product__title {
  .OpenSans-Bold;
  font-size: 25px;
  line-height: 30px;
  margin: 27px 0 8px 0;
}
.best-product__flag {
  .OpenSans-Bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @aqua;
}
.best-product__descript {
  display: flex;
  flex-direction: column;
}
.best-product__descript-items {
  width: 100%;
  margin-bottom: 28px;
  .OpenSans;
  font-size: 15px;
  line-height: 20px;
  color: @graphite;
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid @lightgray;
  }
}
.best-product__descript-value {
  width: 97px;
  padding: 9px 0 10px 0;
}
.best-product__price {
  .OpenSans-Bold;
  font-size: 17px;
  line-height: 24px;
  color: @graphite;
  margin: 22px auto 25px auto;
}

@media @tablet {
  .best-product__container {
    width: 768px;
    padding: 0 50px;
    position: relative;
    img {
      position: absolute;
      top: 153px;
      right: 50px;
      z-index: -10;
    }
  }
  .best-product__header {
    margin: 19px 0 17px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .best-product__title {
    font-size: 43px;
    line-height: 50px;
  }
  .best-product__flag {
    max-width: 130px;
    text-align: center;
    padding-top: 26px;
  }
  .best-product__descript {
    width: 290px;
    p {
      font-size: 17px;
      line-height: 30px;
      max-width: 300px;
    }
  }
  .best-product__descript-items {
    margin-top: 18px;
  }
  .best-product__price {
    font-size: 20px;
    margin: 28px auto 34px auto;
  }
  .link-btn {
    width: 100%;
  }
}
@media @desktop {
  .best-product__container {
    width: 1150px;
    padding: 0 50px 0 225px;
    img {
      top: 73px;
    }
  }
  .best-product__header {
    margin: 98px 0 17px -4px;
    justify-content: flex-start;
    width: 100%;
  }
  .best-product__title {
    margin-left: 23px;
    font-size: 53px;
    line-height: 57px;
  }
  .best-product__flag {
    margin-left: -154px;
    order: -1;
  }
  .best-product__descript-items {
    margin-top: 29px;
  }
  .best-product__price {
    margin: 82px auto 34px auto;
  }
}
